#nav{
    width:  100%;
    height:75px;
    background-color: rgba(243, 104, 243, 0.64);
    min-width: 1000px;
    border: 2px solid #000000;
}

.itemMenu{
    padding: 15px 45px;
    width: 165px;
    height: 73px;
    font-size: 25px;
    border-left: 2px solid #000000;
}
.btX{
    float: right;
    margin-right:175px ;
    margin-top: 80px;
}
.itemDoces{
    padding: 15px 75px;
    width: 260px;
    height: 73px;
    font-size: 25px;
    border-left: 2px solid #000000;
}
.itemContatos{
    padding: 15px 85px;
    width: 260px;
    height: 73px;
    font-size: 25px;
    border-left: 2px solid #000000;
}
.infoDoces{
    width: 1600px;
    height: 400px;
    background-color: rgba(245, 198, 242, 0.459);
    margin-top: 40px;

}

#busca{
    margin: 0px 15px 0px 10px;
    height: 70px;
    width: 70px;
    float: right;
}
#btContatos{
     border-right: 2px solid #000000;
}
#Doce{
    display: none;
    height: 1500px;
    width: 1600px;
    margin: 60px auto;
}
#Contatos{
    display:none;
}
body{
    background-image: url("../img/doces.jpg")
}
.carouselTamanho{
    margin: 50px auto;
width: 1500px;
height: 600px;
}
.imgCaro{
    width: 1500px;
    height: 600px;
}


#TextTamanhoP{
    margin: 40px 0px;
}




@media screen and (min-width:0px) and (max-width: 1600px){
    .infoDoces{
        width: 900px;
        height: 300px;
        background-color: rgba(245, 198, 242, 0.459);
    
    }
    .btX{
        float: right;
        margin: 80px auto;
    }

}
